node-red/node-red-flow.txt
[{"id":"fc03edf7.fa89a","type":"debug","z":"ce68ceff.9e9","name":"Raw Data","active":false,"console":"false","complete":"payload","x":307,"y":86,"wires":[]},{"id":"1688ff7f.652cb1","type":"function","z":"ce68ceff.9e9","name":"JSON Format","func":"payload = msg.payload.split(']')[0] + ']';\npayloadJson = JSON.parse(payload.replace(/\\0/g, ''));\nif (payloadJson.length == 2) {\n\tmsg.payload = JSON.stringify({\n\t    \"soil_humidity\": payloadJson[0].toString(),\n\t    \"soil_temperature\": payloadJson[1].toString(),\n\t    \"time\": (new Date()).getTime().toString()\n\t});\n\treturn msg;\n} else {\n\tmsg.payload = JSON.stringify({\n\t    \"air_humidity\": payloadJson[0].toString(),\n\t    \"air_temperature\": payloadJson[1].toString(),\n\t    \"air_pressure\": payloadJson[2].toString(),\n\t    \"time\": (new Date()).getTime().toString()\n\t});\n\treturn msg;\n}","outputs":1,"noerr":0,"x":322.0000915527344,"y":152.1428680419922,"wires":[["c1965656.78ccd8","b17e46cd.0f8a68"]]},{"id":"c1965656.78ccd8","type":"debug","z":"ce68ceff.9e9","name":"JSON Data for AWS IoT","active":false,"console":"false","complete":"payload","x":580.0000648498535,"y":87.4285888671875,"wires":[]},{"id":"b17e46cd.0f8a68","type":"http request","z":"ce68ceff.9e9","name":"MQTT Post","method":"POST","ret":"txt","url":"a19d3d5ymuwkvy-ats.iot.us-west-2.amazonaws.com:8443/topics/myTopic?qos=1","tls":"5e4d641c.b830bc","x":543.0000686645508,"y":153.85717964172363,"wires":[["c97e6573.631cf8"]]},{"id":"c97e6573.631cf8","type":"debug","z":"ce68ceff.9e9","name":"AWS IoT","active":false,"console":"false","complete":"payload","x":748.8571701049805,"y":153.00004291534424,"wires":[]},{"id":"ab59b9a7.07f298","type":"switch","z":"ce68ceff.9e9","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":2,"x":439.1371078491211,"y":322.93712615966797,"wires":[["ef903e21.04d3d"],["92290252.832e6"]]},{"id":"54b3ca6d.d39b34","type":"function","z":"ce68ceff.9e9","name":"JSON Format","func":"payload = msg.payload.split(']')[0] + ']';\npayloadJson = JSON.parse(payload.replace(/\\0/g, ''));\nmsg.payload = payloadJson;\nreturn msg;\n","outputs":1,"noerr":0,"x":326.13714599609375,"y":242.97712230682373,"wires":[["ab59b9a7.07f298"]]},{"id":"ef903e21.04d3d","type":"function","z":"ce68ceff.9e9","name":"Soil Sensor","func":"msg.payload = JSON.stringify({\n    \"soil_humidity\": parseFloat(msg.payload[0]),\n    \"soil_temperature\": parseFloat(msg.payload[1])\n});\nreturn msg;","outputs":1,"noerr":0,"x":613.1371116638184,"y":250.9771213531494,"wires":[["9ff599c4.f940f8","98ff0546.c71128"]]},{"id":"92290252.832e6","type":"function","z":"ce68ceff.9e9","name":"Air Sensor","func":"msg.payload = JSON.stringify({\n    \"air_humidity\": parseFloat(msg.payload[0]),\n    \"air_temperature\": parseFloat(msg.payload[1]),\n    \"air_pressure\": parseFloat(msg.payload[2])\n});\nreturn msg;","outputs":1,"noerr":0,"x":613.1370697021484,"y":394.9771251678467,"wires":[["a43a8954.27ed88","62f3babd.095e14"]]},{"id":"9ff599c4.f940f8","type":"http request","z":"ce68ceff.9e9","name":"Soil Data Post","method":"POST","ret":"txt","url":"http://35.89.90.244:8080/api/v1/TIYE1dgtbj4lcH8VMRPO/telemetry","tls":"","x":796.1371154785156,"y":225.9771213531494,"wires":[["c0dcac75.e0007"]]},{"id":"a43a8954.27ed88","type":"http request","z":"ce68ceff.9e9","name":"Air Data Post","method":"POST","ret":"txt","url":"http://35.89.90.244:8080/api/v1/imY70GUAu0nIp1f19p0J/telemetry","tls":"","x":789.1371154785156,"y":394.9771251678467,"wires":[["6770af8b.58601"]]},{"id":"98ff0546.c71128","type":"debug","z":"ce68ceff.9e9","name":"Soil Data","active":false,"console":"false","complete":"payload","x":777.1371154785156,"y":309.53710079193115,"wires":[]},{"id":"62f3babd.095e14","type":"debug","z":"ce68ceff.9e9","name":"Air Data","active":false,"console":"false","complete":"payload","x":781.1371154785156,"y":475.53725814819336,"wires":[]},{"id":"c0dcac75.e0007","type":"debug","z":"ce68ceff.9e9","name":"Thingsboard","active":false,"console":"false","complete":"payload","x":958.190507888794,"y":226.19046020507812,"wires":[]},{"id":"6770af8b.58601","type":"debug","z":"ce68ceff.9e9","name":"Thingsboard","active":false,"console":"false","complete":"payload","x":964.1905059814453,"y":394.1904640197754,"wires":[]},{"id":"55b69cb4.62dd14","type":"lora in","z":"ce68ceff.9e9","name":"","datatype":"utf8","x":94,"y":154.14286422729492,"wires":[["fc03edf7.fa89a","1688ff7f.652cb1","54b3ca6d.d39b34"]]},{"id":"5e4d641c.b830bc","type":"tls-config","z":"","name":"zyzkeys","cert":"/usr/bin/zyzkeys/c5057a018f69c33bf14ebbf32335b2d1f27f7a139c5699d6059c05d1e77d6799-certificate.pem.crt","key":"/usr/bin/zyzkeys/c5057a018f69c33bf14ebbf32335b2d1f27f7a139c5699d6059c05d1e77d6799-private.pem.key","ca":"/usr/bin/zyzkeys/AmazonRootCA1.pem","verifyservercert":false}]